---
---

<section class="p-franchise-hero">
  <div class="p-franchise-hero__background" aria-hidden="true"></div>
  <div class="l-container">
    <div class="p-franchise-hero__inner">
      <h1 class="p-franchise-hero__title">フランチャイズ事業内容</h1>
      <p class="p-franchise-hero__subtitle">少人数のスタッフでも安定した利益を生む、上等カレーのフランチャイズビジネスについてご紹介します。</p>
    </div>
  </div>
</section>

