---
import ContactButton from '../components/ContactButton.astro';
---

<section class="l-cta-section">
  <div class="l-container">
  <div class="l-cta-section__inner">
    <header class="l-cta-section__header">
    <h2 class="l-cta-section__title">
      どんな小さな疑問でも、お気軽にご相談ください。
    </h2>
    <div class="l-cta-section__description">
    <ul class="l-cta-section__list">
      <li class="l-cta-section__item">
        初期投資は具体的にいくら必要?
      </li>
      <li class="l-cta-section__item">
        未経験でも本当に運営できる?
      </li>
      <li class="l-cta-section__item">
        開業までどのくらいの期間がかかる?
      </li>
      <li class="l-cta-section__item">
        実際の収益モデルはどうなっている?
      </li>
    </ul>
    <p class="l-cta-section__text">
      経験豊富なスタッフが、親身にお答えします。
    </p>
    </div>
    </header>
    <div class="l-cta-section__button">
      <ContactButton text="出店のご相談はこちら" />
    </div>
    </div>
  </div>
</section>

